main {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 1440px;
}

.main_info {
    width: 100%;
    max-width: 800px;
}

.main_info p {
    font-size: 18px;
    margin: 0 40px;
}

.main_info div {
    display: flex;
    column-gap: 32px;
}

.main_info button {
    background-color: #c51111;
    border-radius: 9px;
    border: none;
    width: 200px;
    height: 40px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin: 5px 40px;
}

.main_info button:hover {
    color: #c51111;
    background-color: white;
    font-size: 24spx;
    transition: 0.6s ease-in-out;
}

.main_info div img {
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    
}

.main_info div img:hover {
    height: 80px;
}

